* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  background-image: url(../img/cristofer-maximilian-YmsrXcDf0J8-unsplash.jpg);
  background-size: cover;
}

/* HEADINGS */
.heading {
  text-align: center;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 2.4px;
  color: #38433d;
}
.temp {
  font-size: 4.8rem;
  margin-bottom: -1rem;
}
.city {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  color: black;
}

/* ICONS */
.search-icon {
  font-size: 3.2rem;
}
.weather-icon {
  width: 12rem;
  margin-top: 3rem;
}
.icon {
  width: 4.86rem;
}
/* PARAGRAPH */
.paragraph {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 2.4px;
  color: #38433d;
}

/* HEADER */
.header {
  margin-bottom: 1.2rem;
}

/* Section Weather */
.section-weather {
  background-color: #afb4ba3a;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  max-width: 47rem;
  margin: 10rem auto 0;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 4rem 3.5rem;
  text-align: center;
}
.search {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
.input {
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  background-color: #d1d8e0;
}
.input::placeholder {
  color: #38433d;
}
.search-btn,
.search-btn:link,
.search-btn:visited {
  font-size: 2rem;
  font-weight: 600;
  padding: 0.9rem 1.6rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: #92979d;
}
.search-btn:hover,
.search-btn:active {
  background-color: #38433d;
  color: #d1d8e0;
}
.error {
  text-align: left;
  margin: 1rem 0 0 1rem;
  font-size: 1.4rem;
}
.error-paragraph {
  font-family: inherit;
  font-size: 1.8rem;
  display: none;
}
.error-400 {
  font-family: inherit;
  font-size: 1.8rem;
  display: none;
}

.weather {
  display: none;
}
.details {
  display: flex;
  gap: 3.6rem;
}
.col {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .paragraph,
  .temp {
    font-weight: 900;
    color: #000;
  }
}
@media (max-width: 34em) {
  body {
    background-size: 200% 500%;
  }
}
